<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>HealthfrontX</title>
	<link rel="stylesheet" href="/fonts/font-awesome-4.6.3/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/external-css/select-box.css"/>
</head>
<body>
<div id="app">{{ html|safe }}</div>
<script src="/js/vendor.js"></script>
<script src="/js/vendor.bundle.js"></script>
<script src="/js/bundle.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
</body>
</html>
