@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';

@font-family-base: 'Avenir', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #5a455e;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/* General sidebar styles */
.bm-menu {
  background: #7E57C2;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #7E57C2;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em;
}

.bm-item-list a {
  color: white;

  &:hover {
    color: #ddd;
    text-decoration: none;
  }

}

/* Menu item header */
#menu-header {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 70px;

  & > img {
    width: 40px;
    margin-right: 10px;
  }
}

.menu-item {
  margin: 30px 0;
}

.menu-item > .fa {
  margin-right: 20px;
}

.menu-footer {
  position: absolute;
  bottom: 0;
  font-size: 0.8em;
}

.red {
  color: rgb(231, 91, 91);
}

.content {
  margin-left: 300px;
}
